.myicon {
    height: 150px;
}
.bottom-image {
    height: 50px;
    position: absolute;
    
}

#cover {
    margin-top: 10px;
    margin-bottom: 100px;
}
#cover textarea {
    min-height: 100px;
}
#cover input[type="email"] {
    max-width: 15em;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #003300 !important;
    border-color: #FFFFFF !important;
    
}

.dropdown-menu {
    background-color: #003300 !important;
}

.dropdown-menu>li>a {
    color: #FFFFFF !important;
}

.panel-body > img {
    max-width: 100%;
}

.panel {
    text-align: left;
    background-color: black !important;
}

.panel-body {
    background-color: white !important;
    color: black;
}

.form-control {
    margin-bottom: 5px;
}

ul.affix {
    position: fixed;
    margin-left: -70px;
    
}

ul.affix-top {
    position: static;
}

ul.affix-bottom {
    position: absolute;
}

.affix > li.active {
    font-weight: bold;
    text-decoration: underline;
}
.blacktext {
    color: black !important;
    font-weight: lighter !important;
}

.popover-content {
    color: black !important;
    
}
.popover-content > ul {
    list-style-type: none;
    padding: 0px;
}
.custom-tooltip {
    font-weight: bold;
    /*background-color:#999999;*/
    /*border: none;*/
}
